[user]
	email = fougner.alexander@gmail.com
  name = Alexamakans

[init]
  defaultBranch = main

[includeIf "gitdir:~/dotfiles/"]
  path = /home/alex/.gitconfig-ssh

[includeIf "gitdir:~/code/"]
	path = /home/alex/.gitconfig-ssh
